@model Formulario.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nascimentoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nascimentoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contatoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contatoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cepUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cepUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.enderecoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.enderecoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complementoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complementoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairroUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairroUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidadeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidadeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ufUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ufUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
